{{#if memo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';

import messages from './messages';
{{/if}}

interface Props {}

const {{ properCase name }}: React.FC<Props> = () => (
  <div>
    {{ properCase name }} component
    {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
    {{/if}}
  </div>
);

{{#if memo}}
export default memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
